[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=SciTE Text Editor
Name[es]=Editor de textos SciTE
Name[fr]=Éditeur de texte SciTE
Name[ru]=Текстовый редактор SciTE
Comment=Edit your source files
Comment[es]=Edita especializado para programación
Comment[fr]=Éditer des fichiers sources
Comment[ru]=Редактор исходных кодов
GenericName=Text Editor
Type=Application
Exec=SciTE %F
Icon=Sci48M.png
Terminal=false
StartupNotify=true
Categories=TextEditor;Development;GTK;Application;
MimeType=text/plain;
