// Resource file for SciTE
// Copyright 1998-2000 by Neil Hodgson <neilh@scintilla.org>
// The License.txt file describes the conditions under which this software may be distributed.

#ifndef __BORLANDC__
#include <windows.h>
#endif

#include "SciTE.h"
#include "PlatformRes.h"

SciTE  ICON SciBall.ico

SciTE  MENU
BEGIN                                                 
  POPUP "&File"
  BEGIN
	MENUITEM "&New\tCtrl+N",  				IDM_NEW
	MENUITEM "&Open...\tCtrl+O",			IDM_OPEN
	MENUITEM "&Close\tCtrl+W",			IDM_CLOSE
	MENUITEM "&Save\tCtrl+S",  				IDM_SAVE
	MENUITEM "Save &As...",			IDM_SAVEAS
	MENUITEM "Save As &HTML...",		IDM_SAVEASHTML
	MENUITEM SEPARATOR
	MENUITEM "Page Set&up...",	IDM_PRINTSETUP
	MENUITEM "&Print...\tCtrl+P",			IDM_PRINT
	MENUITEM SEPARATOR
	MENUITEM "E&xit",    			IDM_QUIT
  END

  POPUP "&Edit"
  BEGIN
	MENUITEM "&Undo\tCtrl+Z",  				IDM_UNDO
	MENUITEM "&Redo\tCtrl+Y",  				IDM_REDO
	MENUITEM SEPARATOR
	MENUITEM "Cu&t\tCtrl+X",		IDM_CUT
	MENUITEM "&Copy\tCtrl+C",		IDM_COPY
	MENUITEM "&Paste\tCtrl+V",		IDM_PASTE
	MENUITEM "&Delete\tDel",			IDM_CLEAR
	MENUITEM "Select &All\tCtrl+A",			IDM_SELECTALL
	MENUITEM SEPARATOR
	MENUITEM "&Find...\tCtrl+F",			IDM_FIND
	MENUITEM "Find &Next\tF3",			IDM_FINDNEXT
	MENUITEM "F&ind in Files...",			IDM_FINDINFILES
	MENUITEM "R&eplace...\tCtrl+H",			IDM_REPLACE
	MENUITEM SEPARATOR
	MENUITEM "&Go to...\tCtrl+G",			IDM_GOTO
	MENUITEM "Next Book&mark\tF2",			IDM_BOOKMARK_NEXT
	MENUITEM "Toggle Bookmar&k\tCtrl+F2",			IDM_BOOKMARK_TOGGLE
	MENUITEM "Match Brac&e\tCtrl+E",			IDM_MATCHBRACE
	MENUITEM "C&omplete Identifier\tCtrl+I",		IDM_COMPLETE
	MENUITEM "Make Selection &Uppercase\tCtrl+Shift+U",		IDM_UPRCASE
	MENUITEM "Make Selection &Lowercase\tCtrl+U",		IDM_LWRCASE
  END

  POPUP "&Tools"
  BEGIN
	MENUITEM "&Compile\tCtrl+F7",			IDM_COMPILE
	MENUITEM "&Build\tF7",			IDM_BUILD
	MENUITEM "&Go\tF5",			IDM_GO
	MENUITEM "&Stop Executing\tCtrl+Break",			IDM_STOPEXECUTE
	MENUITEM SEPARATOR
	MENUITEM "&Next Message\tF4",			IDM_NEXTMSG
	MENUITEM "&Previous Message\tShift+F4",			IDM_PREVMSG
  END

  POPUP "&Options"
  BEGIN
	MENUITEM "Vertical &Split",              IDM_SPLITVERTICAL
	MENUITEM "",                            1
	MENUITEM "View &Whitespace\tCtrl+Shift+8", IDM_VIEWSPACE
	MENUITEM "View &Indentation Guides", IDM_VIEWGUIDES
	MENUITEM "View &Fold Margin",          IDM_FOLDMARGIN
	MENUITEM "View &Margin",          IDM_SELMARGIN
	MENUITEM "View Line &Numbers",          IDM_LINENUMBERMARGIN
	MENUITEM "&View End of Line\tCtrl+Shift+O",          IDM_VIEWEOL
	MENUITEM "View Toolbar",          IDM_VIEWTOOLBAR
	MENUITEM "View Status Bar",          IDM_VIEWSTATUSBAR
	MENUITEM "",                            2
	POPUP "&Line End Characters"
	BEGIN
		MENUITEM "CR + LF",          IDM_EOL_CRLF
		MENUITEM "CR",          IDM_EOL_CR
		MENUITEM "LF",          IDM_EOL_LF
	END
	MENUITEM "&Convert Line End Characters",          IDM_EOL_CONVERT
	MENUITEM "",                            3
	MENUITEM "Change &Tab Size...",			IDM_TABSIZE
	POPUP "&Use lexer"
	  BEGIN
		MENUITEM "none",					IDM_LEXER_NONE
		MENUITEM "&C / C++",				IDM_LEXER_CPP
		MENUITEM "&VB",						IDM_LEXER_VB
		MENUITEM "Reso&urce",				IDM_LEXER_RC
		MENUITEM "H&ypertext",				IDM_LEXER_HTML
		MENUITEM "&XML",					IDM_LEXER_XML
		MENUITEM "Java&Script",				IDM_LEXER_JS
		MENUITEM "VBScr&ipt",				IDM_LEXER_WSCRIPT
		MENUITEM "&Properties",				IDM_LEXER_PROPS
		MENUITEM "&Batch",					IDM_LEXER_BATCH
		MENUITEM "&Makefile",				IDM_LEXER_MAKE
		MENUITEM "&Errorlist",				IDM_LEXER_ERRORL
		MENUITEM "&Java",					IDM_LEXER_JAVA
		MENUITEM "&Lua",					IDM_LEXER_LUA
		MENUITEM "Pytho&n",					IDM_LEXER_PYTHON
		MENUITEM "Pe&rl",					IDM_LEXER_PERL
		MENUITEM "S&QL",					IDM_LEXER_SQL
		MENUITEM "P&LSQL",					IDM_LEXER_PLSQL
		MENUITEM "P&HP",					IDM_LEXER_PHP
		MENUITEM "La&TeX",					IDM_LEXER_LATEX
	  END // used: bcehijlmnpqrstuvyx
	MENUITEM "",							4
	MENUITEM "Open Local &Options File",    IDM_OPENLOCALPROPERTIES
	MENUITEM "Open &User Options File",   IDM_OPENUSERPROPERTIES
	MENUITEM "Open &Global Options File",   IDM_OPENGLOBALPROPERTIES
  END

  POPUP "&Buffers"
  BEGIN
	MENUITEM "&Previous\tF6",			IDM_PREV
	MENUITEM "&Next\tShift+F6",			IDM_NEXT
  END

  POPUP "&Help"
  BEGIN
#ifdef STATIC_BUILD
	MENUITEM "&About Sc1...",			IDM_ABOUT
#else
	MENUITEM "&About SciTE...",			IDM_ABOUT
#endif
  END
END

ABOUT DIALOG 26, 41, 350, 242
CAPTION "About SciTE"
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "", IDABOUTSCINTILLA, "Scintilla", WS_CHILD, 1, 1, 346, 218
	ICON "SciTE", -1, 1, 221, 32, 32, WS_CHILD | WS_VISIBLE
	//ICON "SciTE", -1, WS_CHILD | WS_VISIBLE | WS_BORDER, 132, 102, 120, 32, 32
	CONTROL "OK", IDOK, "Button", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 26, 222, 322, 20
END

GREP DIALOG 26, 41, 226, 50
CAPTION "Find in Files"
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "Fi&nd what:", -1, "STATIC", WS_CHILD, 5, 8, 35, 8
	CONTROL "", IDFINDWHAT, "COMBOBOX", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | CBS_DROPDOWN, 40, 7, 120, 50

	CONTROL "F&iles:", -1, "STATIC", WS_CHILD, 5, 28, 30, 8
	CONTROL "", IDFILES, "COMBOBOX", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | CBS_DROPDOWN, 40, 27, 120, 50

	//CONTROL "&Directory:", -1, "STATIC", WS_CHILD, 5, 48, 30, 8
	//CONTROL "", IDDIRECTORY, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP, 40, 47, 80, 13
	
	CONTROL "&Find", IDOK, "Button", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 6, 50, 14
	CONTROL "Cancel", IDCANCEL, "Button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 26, 50, 14
END

GOLINE DIALOG 26, 41, 186, 52
CAPTION "Go To"
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "&Destination Line Number:", -1, "STATIC", WS_CHILD, 5, 8, 80, 8
	CONTROL "", IDGOLINE, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | ES_NUMBER, 92, 6, 30, 12
	LTEXT "Current line:",-1,5,21,44,8,NOT WS_GROUP
	LTEXT "0123456789",IDCURRLINE,50,21,40,8,NOT WS_GROUP
	LTEXT "Last line:",-1,5,34,44,8,NOT WS_GROUP
	LTEXT "0123456789",IDLASTLINE,50,34,40,8,NOT WS_GROUP
	//CONTROL "&Extend selection",IDEXTEND,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,5,47,78,9
	CONTROL "&Go To", IDOK, "Button", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 6, 50, 14
	CONTROL "Cancel", IDCANCEL, "Button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 26, 50, 14
END

TABSIZE DIALOG 26, 41, 142, 45
CAPTION "Tab Size"
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "&Tab Size:", -1, "STATIC", WS_CHILD, 5, 8, 36, 8
	CONTROL "", IDTABSIZE, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | ES_NUMBER, 42, 6, 30, 12
	CONTROL "OK", IDOK, "Button", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 85, 6, 50, 14
	CONTROL "Cancel", IDCANCEL, "Button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 85, 26, 50, 14
END

IDD_FIND DIALOG 30, 73, 236, 62
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION
CAPTION "Find"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT           		"Fi&nd what:",-1,4,8,42,8
	COMBOBOX        	IDFINDWHAT,47,7,128,50, WS_TABSTOP | CBS_DROPDOWN
	AUTOCHECKBOX  	"Match &whole word only", IDWHOLEWORD,4,26,100,12, WS_GROUP | WS_TABSTOP
	AUTOCHECKBOX  	"Match &case", IDMATCHCASE,4,42,64,12, WS_GROUP | WS_TABSTOP
	GROUPBOX        	"Direction",1072,107,26,68,28,WS_GROUP
	AUTORADIOBUTTON "&Up",IDDIRECTIONUP,111,38,25,12, WS_GROUP
	AUTORADIOBUTTON "&Down",IDDIRECTIONDOWN,138,38,35,12
	DEFPUSHBUTTON	"&Find Next",IDOK,182,5,50,14,WS_GROUP
	PUSHBUTTON     	"Cancel",IDCANCEL,182,23,50,14
END

IDD_REPLACE DIALOG 36, 44, 230, 94
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION
CAPTION "Replace"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT           		"Fi&nd what:",-1,4,9,48,8
	COMBOBOX        	IDFINDWHAT,54,7,114,50,WS_TABSTOP | CBS_DROPDOWN
	LTEXT           		"Re&place with:",-1,4,26,48,8
	COMBOBOX        	IDREPLACEWITH,54,24,114,50,WS_TABSTOP | CBS_DROPDOWN
	AUTOCHECKBOX  	"Match &whole word only", IDWHOLEWORD,5,46,104,12, WS_GROUP | WS_TABSTOP
	AUTOCHECKBOX  	"Match &case", IDMATCHCASE,5,62,59,12, WS_GROUP | WS_TABSTOP
	DEFPUSHBUTTON   "&Find Next",IDOK,174,4,50,14,WS_GROUP
	PUSHBUTTON      	"&Replace",IDREPLACE,174,21,50,14
	PUSHBUTTON      	"Replace &All",IDREPLACEALL,174,38,50,14
	PUSHBUTTON      	"Cancel",IDCANCEL,174,55,50,14
END

// 0xDD is VK_OEM_6, ']}' but not in mingw headers

ACCELS ACCELERATORS
BEGIN
	"N", IDM_NEW,   VIRTKEY, CONTROL
	"O", IDM_OPEN,   VIRTKEY, CONTROL
	"W", IDM_CLOSE,   VIRTKEY, CONTROL
	"S", IDM_SAVE,   VIRTKEY, CONTROL
	"P", IDM_PRINT,   VIRTKEY, CONTROL

	"F", IDM_FIND,   VIRTKEY, CONTROL
	VK_F3, IDM_FINDNEXT,   VIRTKEY
	"H", IDM_REPLACE,  VIRTKEY, CONTROL
	"G", IDM_GOTO, VIRTKEY, CONTROL
	"E", IDM_MATCHBRACE, VIRTKEY, CONTROL
	"E", IDM_SELECTTOBRACE, VIRTKEY, CONTROL, SHIFT
	0xDD, IDM_MATCHBRACE, VIRTKEY, CONTROL
	0xDD, IDM_SELECTTOBRACE, VIRTKEY, CONTROL, SHIFT
	"I", IDM_COMPLETE, VIRTKEY, CONTROL
	"*", IDM_EXPAND,  VIRTKEY, CONTROL
		
	"0", IDM_TOOLS+0, VIRTKEY, CONTROL
	"1", IDM_TOOLS+1, VIRTKEY, CONTROL
	"2", IDM_TOOLS+2, VIRTKEY, CONTROL
	"3", IDM_TOOLS+3, VIRTKEY, CONTROL
	"4", IDM_TOOLS+4, VIRTKEY, CONTROL
	"5", IDM_TOOLS+5, VIRTKEY, CONTROL
	"6", IDM_TOOLS+6, VIRTKEY, CONTROL
	"7", IDM_TOOLS+7, VIRTKEY, CONTROL
	"8", IDM_TOOLS+8, VIRTKEY, CONTROL
	"9", IDM_TOOLS+9, VIRTKEY, CONTROL

	//"U", IDM_UPRCASE,   VIRTKEY, CONTROL, SHIFT
	//"U", IDM_LWRCASE,  VIRTKEY, CONTROL
	"8", IDM_VIEWSPACE, VIRTKEY, CONTROL, SHIFT
	"O", IDM_VIEWEOL, VIRTKEY, CONTROL, SHIFT

	VK_MULTIPLY, IDM_EXPAND,  VIRTKEY, CONTROL
	
	VK_F7, IDM_COMPILE,  VIRTKEY, CONTROL
	VK_F7, IDM_BUILD,  VIRTKEY
	VK_F5, IDM_GO,  VIRTKEY

	VK_F4, IDM_NEXTMSG,  VIRTKEY
	VK_F4, IDM_PREVMSG,  VIRTKEY, SHIFT

	VK_TAB, IDM_PREVFILE,  VIRTKEY, CONTROL
	VK_TAB, IDM_NEXTFILE,  VIRTKEY, CONTROL, SHIFT

	VK_F6, IDM_NEXT,  VIRTKEY
	VK_F6, IDM_PREV,  VIRTKEY, SHIFT

	VK_BACK, IDM_UNDO,  VIRTKEY, ALT
	VK_CANCEL, IDM_STOPEXECUTE,  VIRTKEY, CONTROL
	
	VK_F2, IDM_BOOKMARK_NEXT, VIRTKEY
	VK_F2, IDM_BOOKMARK_TOGGLE, VIRTKEY, CONTROL
END

//The embedded properties file is to allow a one file distribution of Sc1.EXE
#ifdef STATIC_BUILD
Embedded Properties Embedded.properties
IDC_MARGIN         CURSOR  DISCARDABLE     "Margin.cur"
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION	1, 2, 8, 0
PRODUCTVERSION	1, 2, 8, 0
FILEFLAGSMASK	0x3fL
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
	BLOCK	"VarFileInfo"
	BEGIN
		VALUE	"Translation",	0x409,	1200
	END
	BLOCK	"StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE	"CompanyName",	"Neil Hodgson neilh@scintilla.org\0"
			VALUE	"FileDescription",	"SciTE - a Scintilla based Text Editor\0"
			VALUE	"FileVersion",	"1.28\0"
			VALUE	"InternalName",	"SciTE\0"
			VALUE	"LegalCopyright",	"Copyright 1998-2000 by Neil Hodgson\0"
			VALUE	"OriginalFilename",	"SciTE.EXE\0"
			VALUE	"ProductName",	"SciTE\0"
			VALUE	"ProductVersion",	"1.28\0"
		END
	END
END

