// Resource file for SciTE
// Copyright 1998-2000 by Neil Hodgson <neilh@scintilla.org>
// The License.txt file describes the conditions under which this software may be distributed.

#ifndef __BORLANDC__
#include <windows.h>
#endif

#include "SciTE.h"
#include "PlatformRes.h"

SciTE  ICON SciBall.ico

SciTE  MENU
BEGIN                                                 
  POPUP "&File"
  BEGIN
	MENUITEM "&New\tCtrl+N",  				IDM_NEW
	MENUITEM "&Open...\tCtrl+O",			IDM_OPEN
	MENUITEM "&Close\tCtrl+W",			IDM_CLOSE
	MENUITEM "&Save\tCtrl+S",  				IDM_SAVE
	MENUITEM "Save &As...",			IDM_SAVEAS
	MENUITEM "Save As &HTML...",		IDM_SAVEASHTML
	MENUITEM SEPARATOR
	//MENUITEM "Page Set&up...",	IDM_PRINTSETUP
	MENUITEM "&Print...\tCtrl+P",			IDM_PRINT
	MENUITEM SEPARATOR
	MENUITEM "E&xit",    			IDM_QUIT
  END

  POPUP "&Edit"
  BEGIN
	MENUITEM "&Undo\tCtrl+Z",  				IDM_UNDO
	MENUITEM "&Redo\tCtrl+Y",  				IDM_REDO
	MENUITEM SEPARATOR
	MENUITEM "Cu&t\tCtrl+X",		IDM_CUT
	MENUITEM "&Copy\tCtrl+C",		IDM_COPY
	MENUITEM "&Paste\tCtrl+V",		IDM_PASTE
	MENUITEM "&Delete\tDel",			IDM_CLEAR
	MENUITEM "Select &All",			IDM_SELECTALL
	MENUITEM SEPARATOR
	MENUITEM "&Find...\tCtrl+F",			IDM_FIND
	MENUITEM "Find &Next\tF3",			IDM_FINDNEXT
	MENUITEM "F&ind in Files...",			IDM_FINDINFILES
	MENUITEM "R&eplace...\tCtrl+H",			IDM_REPLACE
	MENUITEM SEPARATOR
	MENUITEM "&Go to...\tCtrl+G",			IDM_GOTO
	MENUITEM "Match &Brace\tCtrl+B",			IDM_MATCHBRACE
	MENUITEM "C&omplete Identifier\tCtrl+I",		IDM_COMPLETE
	//MENUITEM "Make Selection &Uppercase\tCtrl+Shift+U",		IDM_UPRCASE
	//MENUITEM "Make Selection &Lowercase\tCtrl+U",		IDM_LWRCASE
  END

  POPUP "&Tools"
  BEGIN
	MENUITEM "&Compile\tCtrl+F7",			IDM_COMPILE
	MENUITEM "&Build\tF7",			IDM_BUILD
	MENUITEM "&Go\tF5",			IDM_GO
	MENUITEM "&Stop Executing\tCtrl+Break",			IDM_STOPEXECUTE
	MENUITEM SEPARATOR
	MENUITEM "&Next Message\tF4",			IDM_NEXTMSG
	MENUITEM "&Previous Message\tShift+F4",			IDM_PREVMSG
  END

  POPUP "&Options"
  BEGIN
	MENUITEM "Vertical &Split",              IDM_SPLITVERTICAL
	MENUITEM "",                            1
	MENUITEM "View &Whitespace\tCtrl+Shift+8", IDM_VIEWSPACE
	MENUITEM "View &Fold Margin",          IDM_FOLDMARGIN
	MENUITEM "View &Margin",          IDM_SELMARGIN
	MENUITEM "View Line &Numbers",          IDM_LINENUMBERMARGIN
	MENUITEM "&View End of Line",          IDM_VIEWEOL
	MENUITEM "",                            2
    POPUP "&Line End Characters"
    BEGIN
		MENUITEM "CR + LF",          IDM_EOL_CRLF
		MENUITEM "CR",          IDM_EOL_CR
		MENUITEM "LF",          IDM_EOL_LF
	END
	MENUITEM "&Convert Line End Characters",          IDM_EOL_CONVERT
	MENUITEM "",                            3
	MENUITEM "Open Local &Options File",    IDM_OPENLOCALPROPERTIES
	MENUITEM "Open &User Options File",   IDM_OPENUSERPROPERTIES
	MENUITEM "Open &Global Options File",   IDM_OPENGLOBALPROPERTIES
  END

  POPUP "&Help"
  BEGIN
#ifdef STATIC_BUILD
	MENUITEM "&About Sc1...",			IDM_ABOUT
#else
	MENUITEM "&About SciTE...",			IDM_ABOUT
#endif
  END
END

ABOUT DIALOG 26, 41, 350, 242
CAPTION "About SciTE"
STYLE WS_POPUP | WS_CAPTION | DS_3DLOOK | DS_SETFONT
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "", IDABOUTSCINTILLA, "Scintilla", WS_CHILD, 1, 1, 346, 218
	ICON "SciTE", -1, 1, 221, 32, 32, WS_CHILD | WS_VISIBLE
	//ICON "SciTE", -1, WS_CHILD | WS_VISIBLE | WS_BORDER, 132, 102, 120, 32, 32
	CONTROL "OK", IDOK, "Button", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 26, 222, 322, 20
END

GREP DIALOG 26, 41, 226, 50
CAPTION "Find in Files"
STYLE WS_POPUP | WS_CAPTION | WS_CLIPSIBLINGS | DS_3DLOOK | DS_SETFONT
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "Fi&nd what:", -1, "STATIC", WS_CHILD, 5, 8, 35, 8
	CONTROL "", IDFINDWHAT, "COMBOBOX", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | CBS_DROPDOWN, 40, 7, 120, 50

	CONTROL "F&iles:", -1, "STATIC", WS_CHILD, 5, 28, 30, 8
	CONTROL "", IDFILES, "COMBOBOX", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | CBS_DROPDOWN, 40, 27, 120, 50

	//CONTROL "&Directory:", -1, "STATIC", WS_CHILD, 5, 48, 30, 8
	//CONTROL "", IDDIRECTORY, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP, 40, 47, 80, 13
	
	CONTROL "&Find", IDOK, "Button", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 6, 50, 14
	CONTROL "Cancel", IDCANCEL, "Button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 26, 50, 14
END

GOLINE DIALOG 26, 41, 186, 52
CAPTION "Go To"
STYLE WS_POPUP | WS_CAPTION | WS_CLIPSIBLINGS | DS_3DLOOK | DS_SETFONT
FONT 8, "MS Sans Serif"
BEGIN
	CONTROL "&Destination Line Number:", -1, "STATIC", WS_CHILD, 5, 8, 80, 8
	CONTROL "", IDGOLINE, "EDIT", WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | ES_NUMBER, 92, 6, 30, 12
    LTEXT "Current line:",-1,5,21,44,8,NOT WS_GROUP
    LTEXT "0123456789",IDCURRLINE,50,21,40,8,NOT WS_GROUP
    LTEXT "Last line:",-1,5,34,44,8,NOT WS_GROUP
    LTEXT "0123456789",IDLASTLINE,50,34,40,8,NOT WS_GROUP
    //CONTROL "&Extend selection",IDEXTEND,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,5,47,78,9
	CONTROL "&Go To", IDOK, "Button", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 6, 50, 14
	CONTROL "Cancel", IDCANCEL, "Button", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 26, 50, 14
END

ACCELS ACCELERATORS
BEGIN
	"N", IDM_NEW,   VIRTKEY, CONTROL
	"O", IDM_OPEN,   VIRTKEY, CONTROL
	"W", IDM_CLOSE,   VIRTKEY, CONTROL
	"S", IDM_SAVE,   VIRTKEY, CONTROL
	//"P", IDM_PRINT,   VIRTKEY, CONTROL

	"F", IDM_FIND,   VIRTKEY, CONTROL
	VK_F3, IDM_FINDNEXT,   VIRTKEY
	"H", IDM_REPLACE,  VIRTKEY, CONTROL
	"G", IDM_GOTO, VIRTKEY, CONTROL
	"B", IDM_MATCHBRACE, VIRTKEY, CONTROL
	"I", IDM_COMPLETE, VIRTKEY, CONTROL
	"*", IDM_EXPAND,  VIRTKEY, CONTROL
		
	"0", IDM_TOOLS+0, VIRTKEY, CONTROL
	"1", IDM_TOOLS+1, VIRTKEY, CONTROL
	"2", IDM_TOOLS+2, VIRTKEY, CONTROL
	"3", IDM_TOOLS+3, VIRTKEY, CONTROL
	"4", IDM_TOOLS+4, VIRTKEY, CONTROL
	"5", IDM_TOOLS+5, VIRTKEY, CONTROL
	"6", IDM_TOOLS+6, VIRTKEY, CONTROL
	"7", IDM_TOOLS+7, VIRTKEY, CONTROL
	"8", IDM_TOOLS+8, VIRTKEY, CONTROL
	"9", IDM_TOOLS+9, VIRTKEY, CONTROL

	"U", IDM_UPRCASE,   VIRTKEY, CONTROL, SHIFT
	"U", IDM_LWRCASE,  VIRTKEY, CONTROL
	"8", IDM_VIEWSPACE, VIRTKEY, CONTROL, SHIFT

	VK_MULTIPLY, IDM_EXPAND,  VIRTKEY, CONTROL
	
	VK_F7, IDM_COMPILE,  VIRTKEY, CONTROL
	VK_F7, IDM_BUILD,  VIRTKEY
	VK_F5, IDM_GO,  VIRTKEY
	VK_F8, IDM_STEP,  VIRTKEY

	VK_F4, IDM_NEXTMSG,  VIRTKEY
	VK_F4, IDM_PREVMSG,  VIRTKEY, SHIFT

	VK_TAB, IDM_NEXTFILE,  VIRTKEY, CONTROL
	VK_TAB, IDM_PREVFILE,  VIRTKEY, CONTROL, SHIFT

	VK_BACK, IDM_UNDO,  VIRTKEY, ALT
	VK_CANCEL, IDM_STOPEXECUTE,  VIRTKEY, CONTROL
	
	VK_F2, IDM_BOOKMARK_NEXT, VIRTKEY
	VK_F2, IDM_BOOKMARK_TOGGLE, VIRTKEY, CONTROL
END

//The embedded properties file is to allow a one file distribution of Sc1.EXE
#ifdef STATIC_BUILD
Embedded Properties Embedded.properties
IDC_MARGIN         CURSOR  DISCARDABLE     "Margin.cur"
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION	1, 2, 2, 0
PRODUCTVERSION	1, 2, 2, 0
FILEFLAGSMASK	0x3fL
FILEFLAGS 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
	BLOCK	"VarFileInfo"
	BEGIN
		VALUE	"Translation",	0x409,	1200
	END
	BLOCK	"StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE	"CompanyName",	"Neil Hodgson neilh@scintilla.org\0"
			VALUE	"FileDescription",	"SciTE - a Scintilla based Text Editor\0"
			VALUE	"FileVersion",	"1.22\0"
			VALUE	"InternalName",	"SciTE\0"
			VALUE	"LegalCopyright",	"Copyright 1998-2000 by Neil Hodgson\0"
			VALUE	"OriginalFilename",	"SciTE.EXE\0"
			VALUE	"ProductName",	"SciTE\0"
			VALUE	"ProductVersion",	"1.22\0"
		END
	END
END

